body{
  background-color: #242a2e;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 45%;
  background-color: #242a2e;
  padding: 2.4rem 2rem;
  height: 100vh;
  overflow-y: auto;
}

/* Logo and AppNav at the top */
.Sidebar > :first-child {
  margin-bottom: 2rem;
}




.footer {
  margin-top: auto;
  padding-top: 1rem;
}

.copyright {
  font-size: 0.8rem;
  color: #aaa;
  text-align: center;
  margin-top: auto; 
  padding-top: 1rem;
}